@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* html,body {
    margin: 0;
    padding: 0;
} */

body.m1 {
    background: url(/1/001.HTML/000.T_Pj/img/sogno.png);
}
/* .top {
    min-height: 120px;
    background-color: lightgrey;
    margin: -21px -8px 0 -8px ;
    border-bottom: 1px solid gold;
} */

.top h1{
    color: rgb(255, 255, 255);
    border-bottom: 1px dotted blue;
    font-family: 'Nanum+Gothic', sans-serif;
    text-align: left;
    font-size: 20px;
}